@model Covid.Infrastructure.ViewModel.vmUserDetails.vmUserDetails

@{
    ViewBag.Title = "UserAttendanceDetails";
}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
@section HomeDesign
   {
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item"><a href="@Url.Action("DashBoard", "DashBoard")"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item">
                User Attendance details
            </li>
        </ol>
    </nav>
}
<div id="message"></div>
<div class="row">

    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0"></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <div class="form-group">
                        <label class="form-control-label" for="input-country">Date</label>
                        <input type="date" class="form-control col-sm-11" id="SearchDate" placeholder="Date">

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="hidden" id="User" name="UserId" />
                        <label class="form-control-label " for="input-username">User Name</label>
                        <input class="form-control User" placeholder="Enter mobile number for searching" id="UserName" required>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="form-group">
                        <label class="form-control-label" for="input-country"></label>
                        <input type="button" class="form-control btn btn-primary" value=" Search" onclick="ChangeData()">

                    </div>

                </div>
            </div>





            <div id="DataView" style="height: 500px; overflow: auto">

                @Html.Partial("~/Views/UserRegistration/PartialViews/UserAttendancePartial.cshtml", Model)
            </div>


        </div>

    </div>
</div>

<script>


    var ChangeData = function () {


        var SelectedDate = $("#SearchDate").val();
        var UserId = $("#User").val();


        $.ajax({
            url: '/UserRegistration/UserAttendanceDetailsSearch',
            type: 'POST',
            datatype: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify({

                SelectedDate: SelectedDate,
                UserId: UserId


            }),
            success: function (data) {

                $("#DataView").html("");
                $("#DataView").append(data);

            },
            error: function () {

            },
        });
    }
    $(function () {
        //$("#SearchDate").datepicker();
    });
    $(".User").autocomplete({
        source: function (request, response) {

            $.ajax({
                url: "/UserRegistration/AutoCompleteByMoileNumberNotRRT",
                type: "POST",
                dataType: "json",
                data: { firstterm: request.term },
                success: function (data) {

                    response($.map(data, function (item) {

                        return { label: item.Value, value: item.Text };
                    }))
                }
            })
        },

        minLength: 5,
        select: function (event, ui) {
            var autofillselected = ui.item.value;
            var autofillLabel = ui.item.label;
            var str = autofillselected.toString();
            var ssttr = autofillLabel.toString();
            $("#User").val(str);
            ui.item.value = ui.item.label;
        },
        change: function (event, ui) {
            if (ui.item === null) {
                $("#User").val('');
                $(this).val('');
                //$('#message').html('<div class="alert alert-danger"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Please select aleast one User Name from the dropdown</div>');
                // alert('Please select aleast one User Name from the dropdown');
            }
        }
    });


</script>
@*<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChDB8JLSS7wRrwWXXsR5lXa_7JkKL41Es">
    </script>*@


