@using Covid.Infrastructure.Helpers
@{
    ViewBag.Title = "ChangePassword";
}

<div class="row">
    <div class="col">
        <form action="~/Login/ChangedPassword" method="post" id="formNewcheck">

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Change Password</h3>
                        </div>
                    </div>
                </div>
                @if (TempData["LoginMessage"] != null)
                {
                    <div class="alert alert-info">
                        <button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>
                        @TempData["LoginMessage"]
                    </div>
                }
                <div id="message"></div>
                <div id="messageOld"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Current Password</label>
                                <input type="hidden" id="SavedOldPassword" value="@SessionHelper.UserDetails.Password" />
                                <input type="password" id="OldPassword" class="form-control" placeholder="current password" name="OldPassword" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">New Password</label>
                                <input type="password" id="NewPassword" class="form-control" placeholder="New password" name="NewPassword" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Confirm Password</label>
                                <input type="password" id="ConfirmNewPassword" class="form-control" placeholder="Confirm password"  required>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <div class="pl-lg-4">
                    <div class="form-group">
                        <input type="submit" id="input-Rural/Urban" class="btn btn-primary" onclick="return checkNewPassword()" value="Change Password">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function checkNewPassword() {
       

        var inpObj = document.getElementById("formNewcheck");
        if (inpObj.checkValidity()) {
            var x = ChckconfirmPassword();
            var y = ChckOldPassword();
            if (x == true && y == true) {
                return true;
            }
            else {
                return false;
            }
          
        }
    }

    function ChckconfirmPassword() {
        password1 = $("#NewPassword").val();
        password2 = $("#ConfirmNewPassword").val();
        // If password not entered
        if (password1 == '') {
                $('#message').html('<div class="alert alert-danger"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Please enter Password</div>');

                return false;
            }

            // If confirm password not entered
            else if (password2 == '') {
                $('#message').html('<div class="alert alert-danger"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Please enter Retype password</div>');

                return false;
            }
            // If Not same return False.
            else if (password1 != password2) {
                $('#message').html('<div class="alert alert-danger"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Password did not match: Please enter correctly</div>');

                return false;
            }
            else {

                return true;
            }
    }
    function ChckOldPassword() {
        
        password3 = $("#SavedOldPassword").val();
        password4 = $("#OldPassword").val();
          if (password3 == '') {
                $('#messageOld').html('<div class="alert alert-danger"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Please enter Password</div>');

                return false;
            }

            // If confirm password not entered
            else if (password4 == '') {
                $('#messageOld').html('<div class="alert alert-danger"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Please enter Old password</div>');

                return false;
            }
            // If Not same return False.
            else if (password3 != password4) {
                $('#messageOld').html('<div class="alert alert-danger"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Current Password did not match: Please enter correctly</div>');

                return false;
            }
            else {

                return true;
            }
    }
</script>

